<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}"><img src="static/Lump_of_Sugar_logo.jpg" style="width: 30%;"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
 
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('announcement')}}">學院公告</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('teacher')}}">學院人員</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('staryu')}}">學院星幽使</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://forms.gle/BiteZeP1VpguG55Y8">學院意見箱</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">學生</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">管理員</a>
                </li>
                
            </ul>
      </div>
    </div>
</nav>