<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>橘花學院</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    
    {% include 'navbar.html' %}
    <section class="gosomewhere custom-primary">
        <br><br>
        <div class="text-center">
            <h1 class="fw-bolder">社團課程</h1>
        </div>
        <br>
        <div class="container" id="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;">
                    <img src="static/staryu/Ayase.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="fw-bolder">三司綾瀨</h2>
                        <h4>Mitsukasa Ayase</h4>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="static/staryu/Nanami.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="fw-bolder">在原七海</h2>
                            <h4>Arihara Nanami</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="static/staryu/Mayu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="fw-bolder">式部茉優</h2>
                            <h4>Shikibe Mayu</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="static/staryu/Hazuki.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="fw-bolder">二條院羽月</h2>
                            <h4>Nijōin Hazuki</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="static/staryu/Kotori.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="fw-bolder">伊勢琴里</h2>
                            <h4>Ise Kotori</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </section>
  
   
 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>